<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <link rel="stylesheet" href="css/not_found.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

        <title>Bem vindo ao Marketplace</title>
    </head>

    <body>
        <h1>Bem vindo @NOME@</h1>
        <p>Seu cadastro no UnoMarket com o email @EMAIL@ foi efetuado com sucesso.
            Por favor, aguarde a verificação das suas informações cadastrais e do CNPJ informado, se tudo ocorrer sem problemas seu acesso será permitido.
        </p>
    </body>
</html>